* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: lavender;
}

.header {
  background-color: lightblue;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
}
.btns {
  width: 28vw;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  gap: 25px;
}
.btns button {
  background-color: salmon;
  font-weight: 600;
  color: black;
  padding: 7px 13px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.txt {
  padding: 12px 23px;
  width: 300px;
  border: none;
  margin: 8px;
}
.date {
  padding: 11px 23px;
  width: 300px;
  border: none;
  margin: 4px;
}

.home button {
  padding: 9px 23px;
  background-color: skyblue;
  border: none;
  font-weight: 700;
  width: 300px;
  border-radius: 3px;
  letter-spacing: 2px;
  margin-top: 10px;
}
.bBtn:hover {
  background-color: salmon;
  cursor: pointer;
}
.sBtn:hover {
  background-color: skyblue;
  cursor: pointer;
}
.tableBtn {
  padding: 8px 12px;
  background-color: skyblue;
  border: none;
  border-radius: 7px;
}
.students,
.marks {
  height: 70vh;
  width: 100%;
  display: grid;
  place-items: center;
}
.users {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.users h2 {
  margin: 30px;
}
.marksForm {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
